@model Wardrobe.Models.Article

<!--Displays list of properties for one specific article of clothing-->

@{
	ViewBag.Title = "Details";
}

@section header {
	<h2>Details</h2>
}

<div>
	<hr />
	<!--Main box starts here-->
	<div class="col-md-12 details-view transparent-blackbox">
		<!--A row for every property-->
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Name)
			</div>
			<div class="col-xs-6">
				@Html.DisplayFor(model => model.Name)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Photo)
			</div>
			<div class="col-xs-6">
				<img src="@Url.Content(ViewBag.Photo)" class="img-responsive item-icon" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Type)
			</div>
			<div class="col-xs-6">
				@Html.DisplayFor(model => model.Type)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Color)
			</div>
			<div class="col-xs-6">
				@Html.DisplayFor(model => model.Color)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Season)
			</div>
			<div class="col-xs-6">
				@Html.DisplayFor(model => model.Season)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Occasion)
			</div>
			<div class="col-xs-6">
				@Html.DisplayFor(model => model.Occasion)
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 right-align">
				@Html.DisplayNameFor(model => model.Material1.Name)
			</div>
			<div class="col-xs-6">
				@Html.DisplayFor(model => model.Material1.Name)
			</div>
		</div>
	</div>
</div>
<div class="row transparent-blackbox text-center">
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>
