@model IEnumerable<Wardrobe.Models.Article>

@{
	ViewBag.Title = "Index";
}

@section header {
	<h2>Article Index</h2>
}


<div class="row button-row">
		@Html.ActionLink("New", "Create", "Articles", routeValues: null, htmlAttributes: new { @class = "col-xs-12 col-sm-2 btn btn-info btn-link transparent-blackbox" })
		@Html.ActionLink("Tops", "Tops", "Articles", routeValues: null, htmlAttributes: new { @class = "col-xs-12 col-sm-2 btn btn-info btn-link transparent-blackbox" })
		@Html.ActionLink("Bottoms", "Bottoms", "Articles", routeValues: null, htmlAttributes: new { @class = "col-xs-12 col-sm-2 btn btn-info btn-link transparent-blackbox" })
		@Html.ActionLink("Shoes", "Shoes", "Articles", routeValues: null, htmlAttributes: new { @class = "col-xs-12 col-sm-2 btn btn-info btn-link transparent-blackbox" })
		@Html.ActionLink("Accessories", "Accessories", "Articles", routeValues: null, htmlAttributes: new { @class = "col-xs-12 col-sm-3 btn btn-info btn-link transparent-blackbox" })
</div>
	<div class="row list-index transparent-blackbox name-header hidden-xs">
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</div>
		<!--
		<div>
			Html.DisplayNameFor(model => model.Photo)
		</div>
		-->
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.Type)
		</div>
		<div class="col-sm-1">
			@Html.DisplayNameFor(model => model.Color)
		</div>
		<div class="col-sm-1">
			@Html.DisplayNameFor(model => model.Season)
		</div>
		<div class="col-sm-1">
			@Html.DisplayNameFor(model => model.Occasion)
		</div>
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.Material)
		</div>
	</div>
@foreach (var item in Model)
{
	<div class="row list-index transparent-blackbox">
		<div class="col-sm-2">
			@Html.DisplayFor(modelItem => item.Name)
		</div>
		<!--
			<div class="col-xs-1 well">
				Html.DisplayFor(modelItem => item.Photo)
			</div>
			-->
		<div class="col-sm-2">
			@Html.DisplayFor(modelItem => item.Type)
		</div>
		<div class="col-sm-1">
			@Html.DisplayFor(modelItem => item.Color)
		</div>
		<div class="col-sm-1">
			@Html.DisplayFor(modelItem => item.Season)
		</div>
		<div class="col-sm-1">
			@Html.DisplayFor(modelItem => item.Occasion)
		</div>
		<div class="col-sm-2">
			@Html.DisplayFor(modelItem => item.Material1.Name)
		</div>
		<div class="col-sm-1">
			@Html.ActionLink("Edit", "Edit", new { id = item.ArticleID })
		</div>
		<div class="col-sm-1">
			@Html.ActionLink("Details", "Details", new { id = item.ArticleID })
		</div>
		<div class="col-sm-1">
			@Html.ActionLink("Delete", "Delete", new { id = item.ArticleID })
		</div>
	</div>
}
